body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* setting container elements*/
#settings {
    display: flex;
    flex-direction: column;
}




/*sketch pad container elements*/
#container {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    border-bottom: 1px solid rgb(179, 179, 179);
    border-right: 1px solid rgb(179, 179, 179);
}

.column {
    display: flex;
    height: 100%;
    width: 100%;
}

.row {
    height: 100%;
    width:100%;
    border-top: 1px solid rgb(179, 179, 179);
    border-left: 1px solid rgb(179, 179, 179);
}
